.taskform__taskunit {
	display:		flex;
	margin:			10px;
}

.taskform__taskunit:nth-child(odd) {
	background-color:	lightyellow;
}

.taskform__taskunit > * {
	cursor:				pointer;
}

#range-sets {
	margin: 			0 15px;
	display: 			none;
}

#range-sum:checked ~ #range-sets {
	display: 			flex;
	flex-direction: 	column;
}

#gcd-participants {
	margin: 			0 15px;
	display: 			none;
}

#find-gcd:checked ~ #gcd-participants {
	display: 			flex;
	flex-direction: 	column;
}




#next-date:checked ~ #task10-calendar {
	display:			inline-block;
}

label p {
	margin: 			0 5px;
}

button {
	margin: 			50px 50px;
	cursor:				pointer;
	height: 			40px;
	width: 				140px;
}

#task10 label {
	width: 80%;
}

#task10-calendar {
	display: 			none;
	margin: 			0 10px;
	padding: 0;
}

#currency-exchange {
	display: 			none;
	margin: 			10px;
}

#currency-converter:checked ~ #currency-exchange {
	display: 			inline-block;
}

.quiz {
	display: 			none;
	width: 				100%;
}

.quiz-card {
	width: 				30%;
}

#user-quiz:checked ~ .quiz {
	display: 			flex;
	justify-content: 	center;
}

#task9 {
	display: 			flex;
	flex-wrap: 	wrap;
}